<div class="container">
    <!-- CARRUSEL-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://http2.mlstatic.com/D_NQ_888061-MLA69575761018_052023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/D_NQ_631370-MLA72227142865_102023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/D_NQ_776841-MLA72242636872_102023-OO.webp" class="d-block w-100"
                    alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="textcard">
        <h2 class="u-align-center u-text u-text-1">Testing de Entregable</h2>
    </div>
    <div class="row">
        {{#if products.length}}
        {{#each products}}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src='/assets/img/{{this.thumbnail}}' class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text mostrar">{{this.price}} USD</p>
                    <p class="card-text">Stock disponible: {{this.stock}}</p>
                    <p class="card-envio">Envío Gratis</p>

                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class=" alert alert-warning" role="alert">
            No existen productos cargados.
        </div>
        {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@12"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/script.js"></script>